<section>
  <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path, class: "button login" unless current_user%>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</section>

