<h1>Your request has been send</h1>
<div class="card">
  <header>
    <h2>The lucky ones</h2>
  </header>
  <ul>
    <% @feedback_request.invitees.each do |invitee| %>
        <li><%= invitee.name %></li>
    <% end %>
  </ul>
</div>

<%= link_to "Go home", dashboard_index_path, class:'button'%>