.created-date {
  display: block;
  padding-top: 1rem;
  color: #808080;
}
.plus-icon {
  font-size: 5rem;
  text-align: center;
  display: block;
  line-height: 4rem;
  font-weight: bold;
}
.plus-icon-label {
  text-align: center;
  display: block;
  padding-bottom: 0.5rem;
}
